/* général */
@import url('https://fonts.googleapis.com/css?family=Satisfy');

img {
  display: block;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

h2 {
	margin : 2rem 0 0;
	color: #777;
	font-size: 1.5rem;
}

#header > div,
#main,
footer > div {
  max-width: 80rem;
  margin: 0 auto;
}

/* bloc logo */
#block-doc-branding {
	float: left;
}

#block-doc-branding .site-name {
  margin: 0 1.5rem 0 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -2px;
}

#block-doc-branding .site-name a {
	color: #ACC;
	font-family: 'Satisfy', cursive;
}

#block-doc-branding .site-name a:hover {
	text-decoration: none;
}

/* bloc recherche */
#block-formulaireexposesearchpage-1,
#views-exposed-form-search-page-1 #edit-actions {
	float: left;
	clear: none;
}

#views-exposed-form-search-page-1 > div > div {
	margin: 1rem 0 0;
}

#views-exposed-form-search-page-1 #edit-combine {
	border: 1px solid #ddd;
  height: 1.5rem;
  width: 25rem;
  padding: 0 0.5rem;
}

#views-exposed-form-search-page-1 #edit-submit-search {
  height: 1.875rem;
  border-left: none;
  background-color: white;
  padding: 0 0.5rem;
  color: #777;
  border: none;
}

/* bloc utilisateur */
#block-doc-account-menu {
	float: right;
}

#block-doc-account-menu .menu-item {
	float: left;
}

#block-doc-account-menu li {
  padding: 0.4rem 0.5rem;
}

#block-doc-account-menu li a {
	color: #555;
}

/* bloc langue*/
#block-languagedropdownswitcher {
	float: right;
}

#block-languagedropdownswitcher select {
	margin: 1rem;
	padding: 0 0.5rem;
	height: 1.8rem;
	background-color: white;
	border: 1px solid #ddd;
	color: #777;
}

/* blocs docs */
.views-element-container .view-content {
	overflow: hidden;
}

.views-element-container .view-content > article,
.views-element-container .view-content > .views-row {
	float: left;
	margin-top: 1rem;
}

.views-element-container .doc-image,
.views-element-container .doc-info {
	float: left;
}

.views-element-container .doc-image {
	box-shadow: 0.3rem 0.3rem 0.5rem rgba(0,0,0,0.1);
	margin-bottom: 0.5rem;
}

.views-element-container .doc-info {
	width: 7rem;
  margin: 0 1rem;
  word-wrap: break-word;
}

.views-element-container .no-image {
	width: 7rem;
	height: 11rem;
	background-color: #eee;
	display: block;
}

.views-element-container .view-content h2 {
  margin: 0.5rem 0 0.2rem;
  font-size: 1.0rem;
  font-family: sans-serif;
}

.views-element-container .view-content a {
  color: #555;
}

.views-element-container .field--name-uid,
.views-element-container .statistics-counter,
.views-element-container .created-ago {
	font-size: 0.9rem;
	padding: 0;
}

.views-element-container .field--name-uid a {
	color: #333;
}

/* footer */
footer {
	margin-top: 3em;
}

footer .menu {
	text-align: center;
  padding: 0;
  margin: 0;
}

footer a {
	color: #777;
}

/* bouton abonnement */
#subscription:hover {
	cursor: pointer;
}

.page-node-type-doc header {
	overflow: hidden;
}

.page-node-type-doc .doc-image,
.page-node-type-doc .doc-info {
	float: left;
}

.page-node-type-doc .no-image {
	width: 7rem;
	height: 11rem;
	background-color: #eee;
	display: block;
}

.page-node-type-doc .doc-info {
	padding: 0.5rem 1rem;
}

.page-node-type-doc h2 {
	margin: 0 0 1rem;
}

.page-node-type-doc .field--name-uid,
.page-node-type-doc .profile {
	float: left;
}

.page-node-type-doc .profile {
	margin-left: 1rem;
}

.page-node-type-doc .statistics-counter {
	padding: 0;
}

.page-node-type-doc .field--name-body {
	width: 25rem;
  margin: 3rem auto;
  text-align: justify;
}
